#info-section {
  background-color: #f1f1f1;
  margin-top: -40px; //visible on header image without scroll

  max-width: 768px;

  @media (max-width: 576px) {
    margin-top: 0px;
  }

  #logo-container {
    background-image: url("/src/assets/img/Logo.png");
    background-size: cover;
    background-position: center;
  }
}
